
<nav>
  <% if user_signed_in? %>
    <%= link_to 'Change Password', edit_user_registration_path %>
    <%= link_to "Borrow Request", pending_borrow_requests_path %>

    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %>
    <%= link_to 'Register', new_user_registration_path %>
  <% end %>
</nav>



<h1>Welcome to our Library System</h1>
<p>This is the home page of our Library System.</p>
